.product {
    /* padding: 4rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background: white;
    flex-wrap: wrap;
    /* height: 100vh;
    width: 100vw; */
}

.swiper {
    width: 100%;
    height: 100%;
}

.side-image .swiper-button-next,
.side-image .swiper-button-prev {
    color: rgb(255, 125, 0);
}

.swiper-slide {
    padding: 1rem;

    text-align: center;
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-images {
    background: rgb(255, 255, 255);

    padding: 1rem;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.swiper-images:hover {
    background: white;
}

.swiper-images:hover img {
    transform: scale(1.4);
}

.swiper-slide img {
    transition: 0.4s;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product .left {
    min-width: 0;
    /* transform: rotate(45deg); */
    height: 100vh;
    /* padding: 4rem; */
    position: relative;
    flex: 3 3 300px;
    /* background: black; */
    background: whitesmoke;
    /* clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%, 00% 0%); */
}

.product .left-wrapper {
    /* bacground */
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product .left-wrapper .main-image {
    /* border-bottom: 2px solid rgb(255, 125, 0); */
    width: 100%;
    /* height: 500px; */
    flex: 3 3 0px;
    min-height: 0;
    position: relative;
    overflow: hidden;
    background: rgb(223, 223, 223);
    z-index: 1;
}

.product .left-wrapper .side-image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    flex: 1 1 0px;
    flex-wrap: wrap;
}

.product .left-wrapper .side-image .square {
    margin: 1rem;
    flex: 1 1 300px;
    background: rgb(255, 125, 0);
    height: 80%;
}

.product .left-wrapper .main-image .orange-stripe {
    position: absolute;
    top: -10%;
    /* left: -60%; */
    background: rgb(255, 125, 0);
    transform: rotate(45deg);
    transform-origin: center;
    height: 200px;
    width: 200px;
}

.product .left-wrapper .main-image .black-stripe {
    position: absolute;
    background: black;
    transform: rotate(45deg);
    left: -15%;
    top: 10%;
    height: 200px;
    width: 200px;
}

.product .left-wrapper .main-image img {
    position: relative;
    z-index: 3;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.product .right {
    /* border-left: 2px solid black; */
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    /* transform: rotate(45deg); */
    /* min-height: 100vh; */
    /* overflow: scroll; */
    min-height: 0;
    flex: 1 1 300px;
    height: 100vh;
    /* background: rgb(255, 125, 0); */
    /* background: black; */
}

.product .right .info-box {
    display: flex;
    gap: 3rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* overflow: scroll; */
    height: 100%;
}

.hr-line {
    /* background: rgb(255, 125, 0); */
    width: 60%;
    /* height: 1px; */
    border-bottom: 2px solid rgb(255, 125, 0);
    transition: 0.4s;
}

.product .right .info-box .info-heading {
    font-size: 6rem;
    /* color: white; */
    font-family: "Montserrat";
    letter-spacing: 0.3rem;
    font-weight: normal;
    /* font-weight: lighter; */
}

.product .right .info-box .info-heading:hover + .hr-line {
    width: 100%;
}

.product .right .info-box .info-price {
    /* width: 100%; */
    /* align-self: flex-start; */
    font-size: 3rem;
    /* color: white; */
    font-weight: bold;
    /* letter-spacing: 0.2rem; */
}

.product .left .info-color {
    position: absolute;
    top: 40%;
    left: 0;
    /* padding: 1rem; */
    /* width: 50%; */
    background: white;
}

.product .left .info-color .color-head {
    font-size: 2rem;
    font-weight: lighter;
}

.product .left .info-color .color-opt {
    padding: 1rem;
    background: black;
    width: 100%;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product .left .info-color .color-opt .red {
    background: red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product .left .info-color .color-opt .blue {
    background: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product .left .info-color .color-opt .green {
    background: lightgreen;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.product .right .info-box .info-button h3 {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
    font-weight: normal;
    font-family: "Montserrat";
    transition: 0.4s;
    /* font-weight: lighter; */
}

.product .right .info-box .info-button {
    cursor: pointer;
    width: 100%;
    /* background: linear-gradient(45deg, black, rgb(54, 54, 54), black); */
    /* background: rgb(255, 125, 0); */
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    transition: 0.2s;
    /* border-radius: 1rem; */
}

.product .right .info-box .info-button:hover {
    /* background-position: right; */
    background: rgb(255, 125, 0);
}

.product .right .info-box .info-button:hover h3 {
    color: white;
    /* transform: scale(1.1); */
}

.product .right .info-box .info-desc h2 {
    font-family: "Montserrat";
    margin-bottom: 1rem;
    /* margin-top: 2rem; */
}

.product .right .info-box .info-desc {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-family: "Raleway";
    letter-spacing: 0.1rem;
}

.product .right .info-box .info-desc:hover + .hr-line {
    width: 100%;
}

.product .right .info-box .info-desc ul {
    list-style: none;
}

@media screen and (max-width: 1280px) {
    .product .right .info-box .info-heading {
        font-size: 4.5rem;
    }
    .product .right .info-box .info-desc {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 600px) {
    .product .right .info-box .info-heading {
        font-size: 3.5rem;
    }
    .product .right .info-box .info-desc h2 {
        font-size: 1.5rem;
    }
    .product .right .info-box .info-desc {
        font-size: 1.2rem;
        text-align: center;
    }
    .product .left {
        height: 70vh;
    }
    .product .left-wrapper .main-image .orange-stripe {
        left: -20%;
    }
    .product .left-wrapper .main-image .black-stripe {
        left: -30%;
    }
}
