.sidebar {
    /* transform: translateZ(0); */
    perspective: 0px;
    height: 90vh;
    /* margin: 20px 0; */
    position: fixed;

    /* z-index: 999; */
    top: 50%;

    transform: translateY(-50%);
    z-index: 999;
    left: 1%;
    /* mix-blend-mode: difference; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.line {
    height: 10vw;
    width: 2px;
    /* background: rgb(255, 125, 0); */
    background: white;
}

.sidebar .category {
    /* transform: translateZ(0); */
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    /* font-family: "Raleway"; */
    font-family: monospace;
    font-weight: normal;
    font-size: 2rem;
    text-orientation: sideways-right;
    letter-spacing: 0.5rem;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 999;
}

.sidebar .category:hover {
    /* letter-spacing: 1rem; */
    transform: scale(1.1) rotate(180deg) translateZ(0);
    color: rgb(227, 110, 0);

    /* font-size: 1.5rem; */
    /* font-size: 7rem; */
}
